<!DOCTYPE html> {% raw %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Calcupy</title>
    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/bootstrap.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="static/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="app">
        
        <div class="text-center">
            <h1>$\oint$ Calcupy <small class="subtitle">Calculus powered graphical calculator</small></h1>
        </div>

        <div class="card border-primary mb-3">
            <div class="card-header">Input</div>
            <div class="card-body">
                <p class="card-text">Enter an expression to get started. </p>
                <input id="function" placeholder="Example: 2*x^2 - y^2" class="form-control" v-model.lazy="expression" v-on:change="parse"/>
                <div v-if="!expression">
                    <hr/>
                    <p>
                        The following expressions are understood:
                        <ul>
                            <li>Expressions: <code>2*x^2+y</code></li> 
                            <li>Functions: <code>sqrt</code>, <code>exp</code>, <code>log</code></li>
                            <li>Trig: <code>sin</code>, <code>cos</code>, <code>tan</code>, <code>csc</code>, <code>sec</code>, <code>cot</code>, <code>asin</code>, <code>acos</code>, <code>atan</code>, <code>sinh</code>, <code>cosh</code>, <code>tanh</code></li>
                            <li>Equality: <code>a*x^2 + b*x + c = 0</code></li>
                            <li>Inequality: <code>sqrt(x) > x</code></li>
                            <li>Matrix: <code>Matrix([1,2,3])</code>, <code>Matrix([1,2],[3,4])</code></li>
                            <li>Parametric: <code>Matrix([t, 2*t])</code>, <code>Matrix([t, 2*t, 3*t])</code></li>
                            <li>Random: <code v-on:click="rand">?</code></li>
                        </ul>
                    </p>
                    Need more help? Look at the <a href="https://github.com/darkeclipz/mathpy#usage" target="_new">usage</a> or <a href="https://github.com/darkeclipz/mathpy#examples" target="_new">examples</a>.
                </div>
            </div>
        </div>

        <div class="card text-white bg-danger mb-3" v-if="expression_error">
            <div class="card-header">Oh oh...</div>
            <div class="card-body">
                <p class="card-text" class="font-white">
                    There seems to be something wrong with your expression!
                    <ul>
                        <li>Is multiplication stated with *, i.e. 2*x*y?</li>
                        <li>Is the exponential function defined with exp(2) instead of e^2?</li>
                    </ul>
                </p>
            </div>
        </div>

        <div id="info" class="card border-secondary mb-3" v-if="parsed && !expression_error">
            <div class="card-header">Expression</div>
            <div class="card-body">
                <p class="card-text" v-if="expression">The expression is parsed as <span id="expression">${{ expression_latex }}$</span><span v-if="variables.length > 0">, where
                    {{ variables.map(v => '$' + v + '$').join(', ')}} {{variables.length != 1 ? 'are variables' : 'is a variable'}}</span>. 
                    <span v-if="is_matrix">This is a ${{dimension[0]}} \times {{dimension[1]}}$ matrix.</span>
                </p>
                <div id="loader" class="progress" v-if="!expression" style="height: 24px;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"></div>
                </div>
            </div>
        </div>

        <div class="card border-secondary mb-3 output" v-if="plot_show">
            <div class="card-header">Plot</div>
            <div class="card-body">
                <div class="text-center" v-if="plot_base64">
                    <img id="plot" :src="plot_base64" v-bind:class="[ plot_base64 ? 'fade-in' : '' ]"/>
                </div>
                <div id="loader" class="progress" v-if="!plot_base64 && !plot_error" style="height: 24px;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"></div>
                </div>
                <div v-if="plot_error">Something went wrong while plotting:<br/><pre>{{plot_error}}</pre></span><br/>
                    <button v-if="variables.length == 1" class="btn btn-primary" v-on:click="plot" type="button" >Try again</button>
                </div>
                <div v-if="!is_constant || (is_square_matrix && dimension[0] == 2)">
                    <hr/>
                    <button v-if="variables.length == 1" class="btn btn-primary" v-on:click="plot" type="button">Line</button>
                    <button v-if="variables.length == 2 && is_algebraic" class="btn btn-primary" v-on:click="plot" type="button">Surface</button>
                    <button v-if="variables.length == 2 && is_algebraic" class="btn btn-primary" v-on:click="cplot" type="button">Contour</button>
                    <button v-if="variables.length == 2 && is_algebraic" class="btn btn-primary" v-on:click="gplot" type="button">Gradient</button>
                    <button v-if="variables.length == 1 && is_matrix && dimension[1] == 1 && (dimension[0] == 2 || dimension[0] == 3)" class="btn btn-primary" v-on:click="pplot" type="button">Parametric</button>
                    <button v-if="variables.length == 0 && is_square_matrix && dimension[0] == 2" class="btn btn-primary" v-on:click="pplot" type="button">Transformation</button>
                </div>
            </div>
        </div>

        <div id="actions" class="card border-secondary mb-3" v-if="variables.length > 0 || is_matrix">
            <div class="card-header">Actions</div>
            <div class="card-body">
                <p>The following actions are available for ${{expression_latex}}$:</p>
                <table class="table" style="margin-bottom: 0">
                    <tbody>
                        <tr v-if="variables.length > 0">
                            <td>Algebra</td>
                            <td>
                                <button type="button" class="btn btn-primary" v-on:click="simplify">Simplify</button>
                                <button type="button" class="btn btn-primary" v-on:click="expand(false)">Expand</button>
                                <button type="button" class="btn btn-primary" v-on:click="expand(true)">Expand trig</button>
                                <button type="button" class="btn btn-primary" v-on:click="factor">Factor</button>
                                <button v-if="!(is_equality || is_inequality)" type="button" class="btn btn-primary" v-on:click="factors">Factors</button>
                                <button v-if="is_equality || is_inequality" v-for="v in variables" type="button" class="btn btn-primary" v-on:click="solveFor(v)">Solve for ${{v}}$</button>
                            </td>
                        </tr>
                        <tr v-if="variables.length > 0 && !is_equality && !is_inequality">
                            <td style="width: 140px;">Calculus</td>
                            <td>
                                <button v-if="variables.length == 1" type="button" class="btn btn-primary" v-on:click="diff(variables[0])">$\textrm{d} / \textrm{d}{{variables[0]}}$</button>
                                <button v-if="variables.length == 1" type="button" class="btn btn-primary" v-on:click="diff2(variables[0])">$\textrm{d}^2 / \textrm{d}{{variables[0]}}^2$</button>
                                <button v-if="variables.length > 1" v-for="v in variables" type="button" class="btn btn-primary" v-on:click="diff(v)">$\partial / \partial {{ v }}$</button>
                                <button v-if="variables.length > 1" v-for="v in variables" type="button" class="btn btn-primary" v-on:click="diff2(v)">$\partial^2 / \partial {{ v }}^2$</button>
                                <button v-if="variables.length == 1" type="button" class="btn btn-primary" v-on:click="integrate(variables[0])">$\int$</button>
                                <button v-if="variables.length == 1" type="button" class="btn btn-primary" v-on:click="integrate(variables[0], '0', 'T')">$\int_0^T$</button>
                                <button v-if="variables.length == 1" type="button" class="btn btn-primary" v-on:click="integrate(variables[0], '-oo', 'oo')">$\int_{-\infty}^{+\infty}$</button>
                                <button v-if="variables.length > 1 && is_algebraic" type="button" class="btn btn-primary" v-on:click="grad">$\nabla f$</button>
                                <button v-if="variables.length == 2 && (is_algebraic || is_square_matrix)" type="button" class="btn btn-primary" v-on:click="hessian">Hessian</button>
                            </td>
                        </tr>
                        <tr v-if="is_matrix">
                            <td>Linear algebra</td>
                            <td>
                                <button type="button" class="btn btn-primary">Solve</button>
                                <button type="button" class="btn btn-primary">$M^\textrm{T}$</button>
                                <button type="button" class="btn btn-primary">$M^{-1}$</button>
                                <button type="button" class="btn btn-primary">$\textrm{det}(M)$</button>
                                <button type="button" class="btn btn-primary">Eigen</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card border-secondary mb-3 output" v-if="action_show">
            <div class="card-header">Result</div>
            <div class="card-body">
                <div v-if="action_out" id="action-result" v-bind:class="[ action_out ? 'fade-in' : '' ]" >
                    {{action_in}}
                    <hr/>
                    {{action_out}}
                </div>
                <div v-if="!action_out && !action_error">
                    <div id="loader" class="progress" style="height: 24px;">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"></div>
                    </div>
                </div>
                <div v-if="action_error">
                    Something went wrong with the action:<br/>
                    <pre>{{action_error}}</pre>
                </div>
            </div>
        </div>

        <div class="text-center">
            <small><b>Calcupy</b> Calculus powered graphical calculator</small>
        </div>
    </div>

    <script type="text/x-mathjax-config">
        // Use $ for inline equations.
        MathJax.Hub.Config({
          tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
        });
    </script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script type="text/javascript" src="static/http.js"></script>
    <script type="text/javascript" src="static/helpers.js"></script>
    <script type="text/javascript" src="static/app.js"></script>
</body>
</html>
{% endraw %}